 <!-- Footer -->
<div class="footer">
	<div class="container">
		<div class="row text-start">
			<!-- HIGHLIGHT STUDIO -->
			<div class="col-md-3 mb-4">
				<h5>HIGHLIGHT STUDIO</h5>
				<div class="social-icons">
					<a href="#"><i class="bi bi-facebook"></i></a>
					<a href="#"><i class="bi bi-instagram"></i></a>
				</div>
			</div>

			<!-- THÔNG TIN LIÊN HỆ -->
			<div class="col-md-4 mb-4">
				<h5>THÔNG TIN LIÊN HỆ</h5>
				<p><i class="bi bi-geo-alt"></i> 23/154 BÀ TRIỆU, PHƯỜNG PHÚ HỘI, TP HUẾ</p>
				<p><i class="bi bi-telephone"></i> 0866672275</p>
				<p><i class="bi bi-envelope"></i> CSKH@HIGHLIGHT.VN</p>
			</div>

			<!-- LIÊN KẾT -->
			<div class="col-md-3 mb-4">
				<h5>LIÊN KẾT</h5>
				<p><a href="#">TÌM KIẾM</a></p>
				<p><a href="#">GIỚI THIỆU</a></p>
				<p><a href="#">CHÍNH SÁCH ĐỔI TRẢ</a></p>
				<p><a href="#">CHÍNH SÁCH BẢO MẬT</a></p>
				<p><a href="#">ĐIỀU KHOẢN DỊCH VỤ</a></p>
				<p><a href="#">HÌNH THỨC THANH TOÁN</a></p>
				<p><a href="#">LIÊN HỆ</a></p>
			</div>

			<!-- FANPAGE -->
			<div class="col-md-2 mb-4">
				<h5>FANPAGE</h5>
				<p><a href="#">FACEBOOK</a></p>
				<p><a href="#">INSTAGRAM</a></p>
			</div>
		</div>
		<div class="text-center mt-4">
			<p>COPYRIGHT © 2024 HIGHLIGHT STUDIO. POWERED BY HARAVAN</p>
		</div>
	</div>
</div>